@import "../../assets/styles/variables.scss";

.pick-add-ons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;

    &__option-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px;
        border: 1px solid $light-gray;
        border-radius: 10px;

        &--active {
            border: 1px solid $tropical-indigo;
            background-color: $alabaster;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 13px;
    }



    &__option-title {
        font-size: 14.5px;
        font-weight: $weight-500;
        color: $marine-blue;
        margin-bottom: 2px;
    }

    &__option-subtitle {
        color: $cool-gray;
        font-size: 12px;
    }

    &__option-price {
        font-size: 12px;
        color: $purplish-blue;
        opacity: 0.8;
    }
}

input[type="checkbox"]:checked {
    background-color: $purplish-blue;
    border: none;
}

input[type="checkbox"]::before {
    content: "";
    width: 7.8px;
    height: 7.5px;
    background-color: #fff;
    clip-path: polygon(39% 84%, 87% 0, 100% 8%, 46% 100%, 33% 100%, 0 66%, 10% 55%);
}

input[type="checkbox"] {
    appearance: none;
    font: inherit;
    color: #000;
    width: 18px;
    height: 18px;
    border: 1px #c3c3c3 solid;
    border-radius: 5px;
    transform: translateY(-.075em);
    border: 1px solid $light-gray;
    cursor: pointer;
    display: grid;
    place-content: center;
}

@media screen and (min-width: 930px) {
    .pick-add-ons {
        gap: 17px;

        &__option-container {
            padding: 17px 19px;
            border-radius: 7px;

            &:hover {
                border: 1px solid $tropical-indigo;
                cursor: pointer;
            }
        }

        &__option {
            gap: 18px;
        }

        &__option-title {
            font-size: 15.5px;
            margin-bottom: 3px;
        }

        &__option-subtitle {
            font-size: 14px;
        }

        &__option-price {
            font-size: 13px;
        }
    }


    input[type="checkbox"]::before {
        width: 10px;
        height: 10px;
    }
}


@media screen and (min-width: 1440px) {
    .pick-add-ons {

        &__option-title {
            font-size: 16px;
        }

        &__option-subtitle {
            font-size: 14.5px;
        }

        &__option-price {
            font-size: 14px;
        }
    }


    input[type="checkbox"]::before {
        width: 11px;
        height: 11px;
    }

    input[type="checkbox"] {
        width: 19px;
        height: 19px;
    }
}