@import "../../assets/styles/variables.scss";

.finishing-up {
    &__info-container {
        width: 100%;
        background-color: $alabaster;
        border-radius: 10px;
        padding: 16px 14px;
        margin-bottom: 25px;
    }

    &__plan-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__plan {
        &-title {
            color: $marine-blue;
            font-weight: $weight-500;
            font-size: 15px;
            margin-bottom: 1px;
        }

        &-change {
            color: $cool-gray;
            text-decoration: underline;
            font-size: 14px;
        }

        &-price {
            color: $marine-blue;
            font-weight: $weight-700;
            font-size: 14px;
        }
    }

    &__separator {
        margin: 14px 0;
        border: 1px solid $light-gray;
        border-bottom: none;
    }

    &__add-ons {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    &__add-on {
        display: flex;
        justify-content: space-between;

        &-title {
            color: $cool-gray;
            font-size: 14px;
        }

        &-price {
            color: $marine-blue;
            font-weight: $weight-400;
            font-size: 14px;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding: 0 14px;

        &-title {
            color: $cool-gray;
            font-size: 14px;
        }

        &-price {
            color: $purplish-blue;
            font-size: 15px;
            font-weight: $weight-700;
        }
    }
}

@media screen and (min-width: 930px) {
    .finishing-up {
        &__info-container {
            padding: 19px;
            margin-bottom: 27px;
        }

        &__plan {
            &-title {
                font-size: 16px;
                margin-bottom: 3px;
            }

            &-change {
                &:hover {
                    cursor: pointer;
                    color: $purplish-blue;
                }
            }

            &-price {
                font-size: 15px;
            }
        }

        &__separator {
            margin: 22px 0 17px 0;
        }

        &__total {
            padding: 0 18px;

            &-price {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .finishing-up {

        &__plan {
            &-title {
                font-size: 17px;
            }

            &-change {
                font-size: 15px;
            }

            &-price {
                font-size: 16px;
            }
        }

        &__add-on {

            &-title {
                font-size: 15px;
            }

            &-price {
                font-size: 15px;
            }
        }


        &__total {
            &-title {
                font-size: 15px;
            }

            &-price {
                font-size: 17px;
            }
        }
    }
}